$body-color: #333
$color-white: #fff
$padding: 1rem
$font-family: "Raleway", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

body 
    font-family: $font-family
    color: $body-color
    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    width: 100%
    width: 100vw
    margin: 0

header
    .container 
        padding-top: $padding
        display: flex
        flex-direction: column

        a 
            text-decoration: none

        @media all and (min-width: 960px)
            flex-direction: row

            .header-logo
                flex: 1

            nav.navbar
                flex: 1
                background: $body-color
                display: flex 

                .navbar-menu
                    display: flex
                    align-items: center

                a 
                    color: $color-white

                    &:first-child
                        padding-left: 2rem

nav
    .navbar-menu
        a:not(:last-child)
            padding-right: 2rem


.container
    padding: 0 1rem
    max-width: 1260px
    margin: 0 auto

.content .taglist
    list-style: none
    margin-bottom: 0
    margin-left: 0
    margin-right: 1.5rem
    margin-top: 1.5rem
    display: flex
    flex-wrap: wrap
    justify-content: left
    align-items: center
    
    li
        padding: 0 2rem 1rem 0
        margin-bottom: 1.5rem
        margin-top: 0

// Helper Classes
.full-width-image-container
    width: 100vw
    height: 400px
    position: relative
    left: 50%
    right: 50%
    margin: 5em -50vw
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.margin-top-0
    margin-top: 0 !important
